/*1*/
.putong a.underline:link,.putong a.underline:visited{
	text-decoration: underline;
}
.putong a.underline:hover{
	text-decoration: none;
}
.putong a..underline:active{
	font-size: 700px;
}
/*2*/
a#color:link,a#color:visited{
			color:#ECBE13;
			text-decoration:none;
		}
a#color:hover{
			color:green;
		}
/*3*/
a.high {
  color: #011f28;
  position: relative;
  text-decoration: none;
}
	
		a.high:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 100%;
  background: #ECBE13;
  z-index: -1;
  content: "";
  -webkit-transition: right 0.25s;
  transition: right 0.25s;
}
a.high:hover:before {
  right: 0;
}