#alarm_area input {
	border: 1px solid #fff;
	text-align: center;
}

.maohao {
	color: #fff;
	font-size: 50px;
}

#qiuye_gb {
	position: absolute;
	top: 64%;
	left: 44%;
}

#alarm_inputs {
	position: absolute;
	top: 35%;
	left: 26%;
}

#alarm_inputs input {
	width: 200px;
	height: 100px;
	font-size: 50px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	outline: none;
	background-color: rgba(255,255,255,0.9);
}
input[type="button"] {
	width: 100px;
	height: 50px;
	background-color: rgb(6, 29, 35);
	border: none;
	color: #fff;
}