#sech_area {
	margin-top: 15%;
	margin-left: 24%;
	display: none;
}

#sech_area input[type="button"],
#timer_input2 input{
	width: 100px;
	height: 100px;
	border: 1px solid rgba(255, 255, 255, .5);
	border-radius: 100%;
	margin-left: 100px;
	outline: none;
}

#sech_area input {
	text-align: center;
}

#sech_area input[type="text"] {
	width: 350px;
	height: 200px;
	font-size: 50px;
	margin-left: 200px;
	background-color: rgb(6,29,35);
	border: none;
	color: #fff;
}