body {
	background-color: rgb(6, 29, 35);
}
/*开场时间*/
#text{
	text-align: center;
	font-size: 200px;
	color:white;
	margin-top: 200px;
	text-shadow:2px 2px rgba(255,255,255,.3);
}
/*底部菜单按钮*/
.inputs {
	position: absolute;
	    bottom: 10%;
	    width:400px;
        left:50%;
        margin-left:-200px;
}
.inputs input{
	width: 100px;
	height: 50px;
	background-color: rgb(6, 29, 35);
	border: none;
	color: #fff;
	cursor: pointer;
}
/*3个区域*/

