#timer_input {
	position: absolute;
	top: 30%;
	left: 25%;
}

#timeh_text,
#timem_text,
#times_text {
	width: 200px;
	height: 80px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	outline: none;
	text-align: center;
	font-size: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

#countdown {
	font-size: 80px;
	color: #fff;
	position: absolute;
	left: 38%;
	top: 30%;
}

#timer_area {
	margin-top: 28%;
	margin-left: 24%;
}