*{
	box-sizing:border-box;
}
.book .directory{
	width:240px;
	height:900px;
	overflow-y:scroll ;
}
.book .directory .search input{
	border: none;
	outline: none;	
	width: 100%;
	padding-left:20px ;
	height: 40px;
	font-size:13px;
}
.book .directory .search input::placeholder{
	color:#C0C0C0;
}
.book .directory .directory_area{
	background-color: #FAFAFA;
	width: 100%;
	height: 100%;
	border-top:1px solid #C0C0C0 ;
}