.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
body{
	background: url("../img/266_1.jpg") no-repeat scroll;
	background-size:1600px ;
}
header{
	margin: auto;
	max-width: 1050px;
	margin: 40px auto;
	position: relative;
}
header a img{
	max-width:90px;
}
header nav{
	width:600px;
	position: absolute;
	top:10px;
	right: -80px;
}
header nav ul{
	list-style-type: none;
}
header nav ul li{
	float:left;
	margin-left:40px ;
	
}
header nav ul li a{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 20px 30px;
	border:1px solid rgba(255,220,110,0);
	text-align: center;
	transition: all 0.6s; 
}
header nav ul li a:hover{
	border:1px solid rgba(255,220,110,1);
}
header h2,header p{
	color: white;
}
