table{
	border-collapse: collapse;
	width:500px;
	height:250px;
}
th,td{
	border:1px solid rgba(0,0,0,0.2);
	text-align: center;
}
th{
	color: #fff;
}
thead {
	background-color: rgba(0,0,200,0.5);
}
tbody tr:nth-child(1){
	background-color: rgba(0,0,200,0.4);
}
tbody tr:nth-child(2){
	background-color: rgba(0,0,200,0.3);
}
tbody tr:nth-child(3){
	background-color: rgba(0,0,200,0.2);
}
tbody tr:nth-child(4){
	background-color: rgba(0,0,200,0.1);
}
tbody tr:nth-child(5){
	background-color: rgba(0,0,200,0.05);
}
tbody tr:hover{
	color: purple;
	cursor: pointer;
}
