.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
a{
	text-decoration: none;
	
}
ul{
	list-style-type: none;
}
.zong{
	width: 1200px;
	margin: 0 auto;
}
*{
	transition: all 0.5s;
}
/*header star*/
header .top{
	position: fixed;
	padding-top:20px ;
	width: 1200px;
}
.top .logo{
	float: left;
}
.top .logo a img{
	vertical-align: middle;
}
.top .logo a span{
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
	vertical-align: middle;
	color: #fff;
}
.top .menu{
	float: right;
}
.menu ul li{
	float: left;
	padding-left:50px ;
}
.menu ul li a{
	color: #fff;
}
.menu ul li a:hover{
	color: deepskyblue;
}
/*header end*/
/*main star*/

/*首页 star*/

/*首页 end*/
/*main end*/
