.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
*{
	box-sizing: border-box;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a{
	text-decoration: none;
}
body{
	min-height: 1400px;
	background-color: #fff;
}
/*header star*/
header .container{
	position: relative;
	max-width: 1200px;
	margin: auto;
}
header{
	width: 100%;
	padding: 20px 0px;
	position: fixed;
	z-index: 999;
	transition: all .5s;
}
header.on{
	padding: 3px 0;
	background-color: rgba(0,0,0,.7);
}
.container .logo{
	float: left;
}
.container .logo a img{
	vertical-align: middle;
}
.container .logo a span{
	color: #fff;
	vertical-align: middle;
	font-size: 45px;
	font-family:"Dancing Script";
}
.container nav{
	float: right;
}
.container nav ul li{
	float: left;
	padding:25px 40px 10px 20px;
}
.container nav ul li a{
	transition: all .5s;
	color: #fff;
}
.container nav ul li a:hover{
	color: deepskyblue;
}
/*header end*/
/*main star*/
/*banner star*/
main .banner{
	background: url(../img/banner.jpg) no-repeat center top;
}
main .banner .caption{
	width: 800px;
	height: 180px;
	position: absolute;
	top: 40%;
	left:23%;
	color: #fff;
	line-height: 30px;
}
main .banner .caption h1{
	text-align: center;
}
main .banner .caption h1 span{
	color: deepskyblue;
}
main .banner .caption p mark{
	color: #000;
	background-color:rgba(255,255,255,0.4) ;
	padding:5px;
}
main .service .text2 ul li h3 i{
	width: 10px;
}
main .service .text2 ul li h3:hover i{
	color: red;
}
/*banner end*/
/*about star*/
.about{
	width: 100%;
	background-color: #fff;
}
.about2{
	margin: auto;
	width: 1200px;
	padding-bottom:30px ;

}
.abou2 .top{
	margin-top:60px ;
	margin-bottom: 60px;
	text-align: center;
}
.about2 .top h2,.about2 .top p{
	font-family: "微软雅黑";
	text-align: center;
}
.about2 .bottom img{
	width:588px;
	float: left;
}
.about2 .bottom .text{
	position: relative;
	bottom: 20px;
	width: 580px;
	float: right;
	line-height: 2.2;
	
}
.about2 .bottom .text ul li{
	counter-increment:testname 1;
	left: 40px;
	position: relative;
	cursor: pointer;
}
.about2 .bottom .text ul li::before{
	content:counter(testname);
	width: 20px;
	height: 20px;
	border: 1px dashed #000;
	border-radius: 100%;
	position: absolute;
	text-align: center;
	right: 600px;
	line-height: 1.5em;
	bottom: 0.5em;
	transition:transform .5s;
	transform: translate(0px);
}
.about2 .bottom .text ul li:hover::before{
	transform: translate(0.5em);
}
/*about end*/
/*service star*/
main .service{
	min-height: 900px;
	position: relative;
	bottom: 300px;
	z-index: -1;
	background: url(../img/banner2.jpg) no-repeat scroll top left;
	background-size:cover;
}
main .service h2{
	padding-top: 340px;
}
main .service h2,main .service #h3{
	color: #fff;
	text-align: center;
}
.service li{
	line-height: 30px;
	color: #fff;
	float: left;
	width: 48%;
	margin-right: 4%;
	text-align: right;
}

.service li:nth-child(2n){
	margin-right: 0px;
	text-align: left;
}
.service li:hover i{
	color: red;
}
/*service end*/
/*case star*/
.case{
	right: 40px;
	position: relative;
	bottom: 250px;
	width: 1200px;
	margin: auto;
	text-align: center;
	margin-bottom: -200px;
}
.case figure{
	margin-right:0px ;
	width:260px;
	height: 300px;
	float: left;
	overflow: hidden;
}
.case figure img{
	width:100% ;
	transition:all 0.5s;
}
.case figure:hover img{
	transform: scale(1.2) rotate(3deg);
}
.case figure figcaption{
	width:250px ;
	height: 160px;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	margin-top: 120px;
	margin-left:5px ;
	z-index: 2;
}
.case figure figcaption .top_left{
	float: left;
	margin-left: 10px;
	line-height: 0px;
}
.case figure figcaption .top_left .p1{
	font-size: 12px;
	padding: 13px;

	background-color: deepskyblue;
	margin-bottom: -13px;
}
.case figure figcaption .top_left .p2{
	font-size: 12px;
	padding: 13px;
	background-color: lightblue;
}
.case figure figcaption h3{
	margin-top: 25px;
	margin-bottom: 30px;
}
.case figure figcaption .p3{
	font-size: 13px;
	line-height: 9px;
}
.case figure figcaption .p4{
	font-size: 10px;
	padding-top:5px ;padding-bottom:5px ;
	text-align: right;
	margin-top:35px ;
	background-color:darkgray;
}
.case figure figcaption .p4 i{
	margin-left:10px ;
}
/*case end*/
/*contact star*/
.contact{
	color: #fff;
	height: 500px;
	background-image:url(../img/android-1869510_1920.jpg) ;
}
.contact_auto{
		position: absolute;
		text-align: center;
		width: 100%;
}
.contact_auto h2{
	padding-top:50px ;
}
.xia{
	width: 1200px;
	margin: auto;
}
.contact_left{
	text-align: left;
	width: 49%;
	float: left;
	line-height: 30px;
}
.contact_right{
	float: right;
	width: 49%;
}
.contact_right input,.contact_right textarea{
	width: 500px;
	height: 40px;
	margin-bottom: 5px;
	margin-top: 25px;
	border-radius: 10px;
	border: none;
	outline: none;
	padding-left:10px ;
	background-color: rgba(255,255,255,0.5);
	
}
::-webkit-input-placeholder{
	color: #000;
}
::-moz-placeholder{
	color: #000;
}
.contact_right textarea{
	height: 60px;
}
/*contact end*/
/*main end*/
/*footer*/
footer{
	text-align: center;
	padding: 10px;
}
