.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
a{
	text-decoration: none;
}
ul{
	list-style-type:none ;
}
h2{
	margin-top: 70px ;
}
body{
	background: url("../img/266_1.jpg") no-repeat scroll  ;
	background-size:1600px ;
	background-attachment:fixed ;
}
/*header的css*/
header,main,footer{
	margin: auto;
	max-width: 1050px;
	margin: 40px auto;
	position: relative;
}
header a img{
	max-width:90px;
	transition: all 0.5s;
}
header a img:hover{
	transform:rotate(30deg);
}
header nav{
	width:600px;
	position: absolute;
	top:10px;
	right: -80px;
}
header nav ul{
	list-style-type: none;
}
header nav ul li{
	float:left;
	margin-left:40px ;
	
}
header nav ul li a{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 20px 30px;
	border:1px dotted rgba(255,220,110,0);
	text-align: center;
	transition: all 0.6s; 
}
header nav ul li a:hover{
	border:1px solid rgba(255,220,110,1);
}
header h2,header p{
	color: white;
}
h2{
	color: white;
}
/*header的css end*/

/*main的css*/
main section ul{
	margin-left:-60px ;
}
main section ul li{
	float: left;
	margin: 25px;
}
main section ul li a{
	padding:20px 70px;
	background-color:rgba(255,219,109,0.5);
	transition: all 0.5s;
	border-radius:10px ;
	color: white;
}
main section ul li a:hover{
	background-color:rgb(255,202,41);
	border-radius:0px ;
}
main section .xiang{
	margin-left:-35px ;
}
main section .xiang figure{
	float: left;
	position: relative;
}
main section .xiang figure a img{
	position: relative;
	width:281px;
	-webkit-filter: grayscale(40%); 
	-moz-filter: grayscale(40%); 
	-ms-filter: grayscale(40%); 
	-o-filter: grayscale(40%); 
	filter: grayscale(40%);
	filter: gray; 
	transition: all 0.5s;
}
main section .xiang figure:hover a img{
	-webkit-filter: grayscale(0); 
	-moz-filter: grayscale(0); 
	-ms-filter: grayscale(0); 
	-o-filter: grayscale(0);
	filter: grayscale(0); 
}
main section .xiang figure figcaption{
	position:absolute;
	color: white;
	z-index: 2;
	margin: 23% 35%;
	opacity: 0;
	transition: all 0.5s;
	}
main section .xiang figure:hover figcaption{
	opacity: 1;
}
/*第三个ssection*/
main .lian p{
	color: white;
}
main .lian .lianxi p{
	
}
main .lian .lianxi p span{
	padding: 5px 20px;
	background-color: #fff;
	display:inline-block;
	color: #000;
}
main .lian .lianxi p .hei{
	background-color: #000;
	color: #fff;
}
.lian .liu input,.lian .liu select,.lian .liu textarea{
	padding-left: 15px;
	width:312px;height:42px;
	margin:5px;
	border-radius:5px ;
	border: none;
}
.lian .liu input:focus,.lian .liu textarea:focus{
	border:none;
	outline: none;
}
.lian .liu input[type="submit"],.lian .liu textarea{
	width:46.5%;
}
.lian .liu input[type="submit"]{
	position: absolute;
	background-color: deepskyblue;

}
/*footer部分*/
footer{
	color: #fff;
}
footer .top{
	padding: 10px 10px 10px 10px;
	border:1px solid #fff;
	position: fixed;
	bottom: 30px;
	right:30px;
}
footer .top a{
	color: #fff;
}
