body {
  background: #3acfff;
}

@keyframes loadingScale {
  0% {
    transform: scale(1);
    background: #fff;
  }
  100% {
    transform: scale(.3);
    background: #c1c1c1;
  }
}

@keyframes shine {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}




.loading {
  /* display: none; */
  position: absolute;
  background: #3ad0ff;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}



.loading-circle_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  display: inline-block;
  background-color: #fff;
  animation-name: loadingScale;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loading-circle-left  {
  animation-delay: 0s;
}

.loading-circle-center {
  animation-delay: .4s;
}

.loading-circle-right {
  animation-delay: .8s;
}


.content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.layer-horizontal {
  position: relative;
  width: 20000px;
  height: 100%;
  left: 0;
  top: 0;
}


.layer-horizontal .cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url('../images/cloud.png');
}

.layer-horizontal .background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('../images/background.png');
}

.layer-horizontal .mountain {
  position: absolute;
  bottom: -100px;
  left: -100px;
  width: 100%;
  height: 800px;
  background: url(../images/mountain.png);
  background-size: auto 800px;
}

.layer-horizontal .trees {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%;
  height: 300px;
  background: url(../images/trees.png);
  background-size: auto 300px;
}

.layer-horizontal .project {
  position: absolute;
  top: 36%;
  margin-top: -200px;
  width: 500px;
  height: 500px;
  background: url(../images/project.png);
  background-size: cover;
  box-sizing: border-box;
  padding: 20px;
}

.layer-horizontal .project-title {
  font-size: 30px;
  text-align: center;
}

.layer-horizontal .project-img {
  position: absolute;
  width: 120px;
  height: 210px;
  background: #ddd;
  border: 1px solid #dfdfdf;
  left: 100px;
  top: 100px;
}

.layer-horizontal .project-desc {
  padding-left: 220px;
}

.layer-horizontal .project-1 {
  left: 6000px;
}


.layer-horizontal .project-2 {
  left: 8000px;
}


.layer-horizontal .block {
  position: absolute;
  bottom: 80px;
  width: 300px;
  height: 220px;
  background: url(../images/pipe.png) no-repeat;
  background-size: cover;
}

.layer-horizontal .block1 {
  left: 2000px;
  
}
.layer-horizontal .block2 {
  left: 4000px;
  height: 160px;
}





#people-container {
  position: fixed;
  width: 200px;
  height: 200px;
  left: 50px;
  bottom: 70px;
  overflow: hidden;
}

.people {
  position: absolute;
  width: 800px;
  height: 400px;
  left: 0;
  top: 0;
  background: url('../images/people.png') no-repeat;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 450px;
  z-index: 10;
}

.intro-title {
  font-size: 50px;
  margin-bottom: 20px;
  padding: 5px 20px;
  border: 3px solid #333;
  background: #fff;
}

.intro-desc {
  font-size: 30px;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: 3px solid #333;
  background: #fff;
  width: 70%;
  margin: 20px auto;
}

.intro-button {
  border: none;
  width: 130px;
  height: 60px;
  font-size: 24px;
  border: 2px solid #333;
  background: #fff;
  color: #333;
  margin-bottom: 20px;
}

.intro-tip {
  color: #f1f1f1;
  font-size: 22px;
  animation: shine 1s infinite;
}