.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
a{
	text-decoration: none;
	
}
ul{
	list-style-type: none;
}
.zong{
	width: 1200px;
	margin: 0 auto;
}
*{
	transition: all 0.5s;
}
/*header star*/
header .top{
	position: fixed;
	padding-top:20px ;
	width: 1200px;
}
.top .logo{
	float: left;
}
.top .logo a img{
	vertical-align: middle;
}
.top .logo a span{
	font-size: 50px;
	font-family: 'Dancing Script', cursive;
	vertical-align: middle;
	color: #fff;
}
.top .menu{
	float: right;
}
.menu ul li{
	float: left;
	padding-left:50px ;
	margin-top:10px ;
}
.menu ul li a{
	color: #fff;
}
.menu ul li a:hover{
	color: deepskyblue;
}
/*header end*/
/*main star*/

/*扶뒬못 star*/
main .home .text{
	width: 800px;
	margin: auto;
	position:absolute;
	z-index:-1;
	width:100%;
	height:100%;
	top:35%;
	color: #fff;
}
.text h2{
	font-size: 40px;
	text-align: center;
}
/*扶뒬못 end*/
/*main end*/
