.add{
	margin-left: 20px;
}
.add h3{
	text-align: center;
}
.add .title2{
	
	border-bottom:1px solid rgba(0,0,0,0.4) ;
}
.add .title2 h4{
	margin-bottom: 5px;
	font-size: 14px;
	
}
.add .star{
	color: red;
}
.add input[type="text"]{
	width: 300px;
	height: 20px;
	margin-top: 10px;
}
