/*主要内容*/
.main_table{
	width: 1200px;
	height: auto;
	position: absolute;
	left: 220px;
}
main div.main{
	width: 1200px;
	margin: auto;
	padding-bottom: 200px;
}
main div.main .title{
	margin:0 10px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
main div.main .title h3{
	color: rgba(0,0,0,0.8);
	font-weight: 500;
	padding-left: 15px;
	font-size: 15px;
}
main div.main .table{
	padding:10px 60px;
}
main div.main .table .toolbar span{
	padding: 5px 5px 5px 10px;
	background-color: red;
	color: #fff;
	font-size: 12px;
}
main div.main .table .toolbar span:nth-child(1){
	background-color: deepskyblue;
}
main div.main .table .toolbar span:nth-child(2){
	background-color: limegreen;
}
main div.main .table .toolbar span:nth-child(3){
	background-color: orange;
}
main div.main .table .toolbar select{
	width: 150px;
	height: 25px;
	margin-right: 20px;
}
main div.main .table .toolbar div{
	position: relative;
}
main div.main .table .toolbar #search_i{
	text-align: center;
	padding:6px;
	margin-top: 200px;
	position: relative;
	top: 5px;
}
main div.main .table .toolbar #search_i i{
	margin-right: 7px;
}
main div.main .table .toolbar div input{
	height: 20px;
}
/*表格*/
main div.main .table table{
	width: 100%;
}
td{
	text-align: center;
}
.operation{
	border: 1px solid dodgerblue;
	color: dodgerblue;
	padding: 4px 5px;
	font-size: 12px;
}
.operation:hover{
	background-color: dodgerblue;
	color: #fff;
}
.delete_span{
	border: 1px solid red;
	color: red;
}
.delete_span:hover{
	background-color: red;
	color: #fff;
}



table {
  color: #333;
  font-size: .9em;
  font-weight: 300;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #ed1c40;
  width: 500px;
  margin: 50px auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
  border-radius: 2px;
}


#buttons{
	float: right;
}
input[type="button"] {
	transition: all .3s;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
	font-size: 15px;
}

input[type="button"]:not(.active) {
	background-color:transparent;
}

.active {
	background-color: #ff4d4d;
	color :#fff;
}

input[type="button"]:hover:not(.active) {
	background-color: #ddd;
}


/*头部补充*/
#exit{
	border: none;
	padding: 2px 10px;
}
/*主要内容*/
/*中部css*/