/*为了观看方便，可以删掉*/
header,footer,aside,main{
	border:1px solid #9df;
}
/*结束*/
*{
	box-sizing:border-box;
}
bady{
	padding:0;
	margin: 0;
}
.clearfix::after{
	content: "";
	display:table;
	clear:both;
}
#wrapper{
	max-width:1200px;
	min-width:800px;
	margin:auto;
}
header,footer{
	margin:2px 0;
	height:260px;
}
aside{
	width:20%;
	margin-right:0px;
	float:left;
	min-height:500px;
}
main{
	width:79%;
	float:right;
	min-height:500px;
}
